/**
    ----------------内边距4------------------------
*/
.v-p-4 {
  padding: 4px;
}

.v-ph-4 {
  padding: 0 4px;
}

.v-pv-4 {
  padding: 4px 0;
}

.v-pt-4 {
  padding-top: 4px;
}

.v-pb-4 {
  padding-bottom: 4px;
}

.v-pl-4 {
  padding-left: 4px;
}

.v-pr-4 {
  padding-right: 4px;
}
/**
    ----------------内边距8------------------------
*/
.v-p-8 {
  padding: 8px;
}

.v-ph-8 {
  padding: 0 8px;
}

.v-pv-8 {
  padding: 8px 0;
}

.v-pt-8 {
  padding-top: 8px;
}

.v-pb-8 {
  padding-bottom: 8px;
}

.v-pl-8 {
  padding-left: 8px;
}

.v-pr-8 {
  padding-right: 8px;
}

/**
    ----------------内边距16------------------------
*/
.v-p-16 {
  padding: 16px;
}

.v-ph-16 {
  padding: 0 16px;
}

.v-pv-16 {
  padding: 16px 0;
}

.v-pt-16 {
  padding-top: 16px;
}

.v-pb-16 {
  padding-bottom: 16px;
}

.v-pl-16 {
  padding-left: 16px;
}

.v-pr-16 {
  padding-right: 16px;
}
/**
    ----------------内边距24------------------------
*/
.v-p-24 {
  padding: 24px;
}

.v-ph-24 {
  padding: 0 24px;
}

.v-pv-24 {
  padding: 24px 0;
}

.v-pt-24 {
  padding-top: 24px;
}

.v-pb-24 {
  padding-bottom: 24px;
}

.v-pl-24 {
  padding-left: 24px;
}

.v-pr-24 {
  padding-right: 24px;
}
/**
    ----------------内边距32------------------------
*/
.v-p-32 {
  padding: 32px;
}

.v-ph-32 {
  padding: 0 32px;
}

.v-pv-32 {
  padding: 32px 0;
}

.v-pt-32 {
  padding-top: 32px;
}

.v-pb-32 {
  padding-bottom: 32px;
}

.v-pl-32 {
  padding-left: 32px;
}

.v-pr-32 {
  padding-right: 32px;
}

